In [6]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pymysql

In [3]:
dbcon =pymysql.connect(host="localhost",user="root",password="Shub1203$",database="library_sys")

In [4]:
dbcon

In [10]:
import pandas as pd
tables = ["Books", "Members", "BorrowRecords"]
for table_name in tables:
        # Construct the query to select the first 5 rows
        query = f"SELECT * FROM {table_name} LIMIT 5;"
        
        # read the SQL query into a DataFrame
        df = pd.read_sql(query, dbcon)
        
        # Display the DataFrame
        print(f"\n--- First 5 rows of '{table_name}' table ---")
        print(df.to_string(index=False)) # Use .to_string() for clean display
        print("-" * 40)

--- First 5 rows of 'Books' table ---
 book_id                 title              author  is_available
       1 To Kill a Mockingbird          Harper Lee             1
       2                  1984       George Orwell             1
       3      The Great Gatsby F. Scott Fitzgerald             0
       4             Moby Dick     Herman Melville             1
       5   Pride and Prejudice         Jane Austen             0
----------------------------------------

--- First 5 rows of 'Members' table ---
 member_id first_name last_name                 email
         1      Alice     Smith alice.smith@email.com
         2        Bob   Johnson       bob.j@email.com
         3    Charlie     Brown   charlie.b@email.com
         4      Diana    Prince     diana.p@email.com
         5     Edward    Norton    edward.n@email.com
----------------------------------------

--- First 5 rows of 'BorrowRecords' table ---
 record_id  book_id  member_id borrow_date return_date
         1        3          1  2025-08-01        None
         2        5          2  2025-08-05        None
         3        8          3  2025-08-08        None
         4       12          4  2025-08-10        None
         5        1          5  2025-07-20  2025-08-05
----------------------------------------

In [14]:
#all books that are currently available
query_2 = "SELECT title, author FROM Books WHERE is_available = 1;"
df_2 = pd.read_sql(query_2, dbcon)
print("Available Books")
print(df_2.to_string(index=False))

Available Books
                        title                 author
        To Kill a Mockingbird             Harper Lee
                         1984          George Orwell
                    Moby Dick        Herman Melville
       The Catcher in the Rye          J.D. Salinger
                   The Hobbit         J.R.R. Tolkien
              Brave New World          Aldous Huxley
One Hundred Years of Solitude Gabriel Garcia Marquez
        The Lord of the Rings         J.R.R. Tolkien

In [15]:
# all information about every book 
query_1 = "SELECT * FROM Books;"
df_1 = pd.read_sql(query_1, dbcon)
print("All Books")
print(df_1.to_string(index=False))

All Books
 book_id                         title                 author  is_available
       1         To Kill a Mockingbird             Harper Lee             1
       2                          1984          George Orwell             1
       3              The Great Gatsby    F. Scott Fitzgerald             0
       4                     Moby Dick        Herman Melville             1
       5           Pride and Prejudice            Jane Austen             0
       6        The Catcher in the Rye          J.D. Salinger             1
       7                    The Hobbit         J.R.R. Tolkien             1
       8                Fahrenheit 451           Ray Bradbury             0
       9               Brave New World          Aldous Huxley             1
      10 One Hundred Years of Solitude Gabriel Garcia Marquez             1
      11         The Lord of the Rings         J.R.R. Tolkien             1
      12                 The Alchemist           Paulo Coelho             0